mat-card-header {
    position: relative;
    &:after {
        background: linear-gradient(to bottom, transparent, white);
        position: absolute;
        height: 30px;
        bottom: 0;
        width: 100%;
        content: '';
    }
}
:host:hover {
    cursor: pointer;
}
.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-2 {
    @extend .clamp;
    height: 40px;
    -webkit-line-clamp: 2;
}
.clamp-3 {
    @extend .clamp;
    height: 60px;
    -webkit-line-clamp: 3;
}
