<mat-vertical-stepper linear="true" linear (selectionChange)="selectionChange($event)">
    <mat-step [stepControl]="coordinate">
        <form [formGroup]="coordinate">
            <ng-template matStepLabel>Vos coordonnées</ng-template>
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Addresse</mat-label>
                <input matInput formControlName="adresseL1" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Complément d'addresse</mat-label>
                <input matInput formControlName="adresseL2">
            </mat-form-field>
            <mat-form-field style="width:35%">
                <mat-label>Code postal</mat-label>
                <input matInput formControlName="zip" required>
            </mat-form-field>

            <mat-form-field style="width:65%">
                <mat-label>Ville</mat-label>
                <input matInput formControlName="city" required>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="deleveryMode">
        <form [formGroup]="deleveryMode">
            <ng-template matStepLabel>Mode de livraison</ng-template>
            <mat-selection-list multiple="false" formControlName="mode" required>
                <mat-list-option value="0">
                    <div matLine>
                        <span fxFlex>Click&Collect</span>
                    </div>
                </mat-list-option>
                <mat-list-option value="1">
                    <div matLine>
                        <span fxFlex>Livraison à domicile</span>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </form>
    </mat-step>
    <mat-step [stepControl]="validate">
        <form [formGroup]="validate">
            <ng-template matStepLabel>Validation</ng-template>
            <div *ngIf="basketResume.items.length !=0">
                <p style="color:red"><b>Certains produits ne sont plus en stock!</b></p>
                <ul *ngFor="let item of basketResume.items">
                    <li>{{item.qty}} X {{item.productName}}</li>
                </ul>
                <hr />
            </div>
            <div *ngIf="commandeResume.items.length !=0">
                <h3>Résumé de la commande</h3>
                <table mat-table [dataSource]="commandeResume.items" class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef>Quantité</th>
                        <td mat-cell *matCellDef="let item"> {{item.qty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef>Nom du produit</th>
                        <td mat-cell *matCellDef="let item"> {{item.productName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="priceTTC">
                        <th mat-header-cell *matHeaderCellDef> Prix unitaire </th>
                        <td mat-cell *matCellDef="let item"> {{item.priceTTC}}€ </td>
                    </ng-container>

                    <ng-container matColumnDef="priceFN">
                        <th mat-header-cell *matHeaderCellDef> Sous-total </th>
                        <td mat-cell *matCellDef="let item"> {{item.priceTTC*item.qty}}€ </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <br />
                <p><b>Total : {{commandeResume.totalPrice}}€ dont {{commandeResume.totalTva}}€ de TVA</b></p>
                <mat-checkbox formControlName="validate">Je valide la commande</mat-checkbox>

            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>