// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'styles/colors.scss';
@import 'styles/margins-padding.scss';

// Be sure that you only ever include this mixin once!
@include mat-core();

$app-primary: mat-palette(
    map-merge(
        /* Select a palette from Material Palette as base from material.io/resources/color/ */
            $mat-green,
        /* Override the closest palette color hue with our own color */
            (
                900: #21522f,
            )
    ),
    900 /* Set the overrided hue as default color */
);

$app-accent: mat-palette(
    map-merge(
        /* Select a palette from Material Palette as base from material.io/resources/color/ */
            $mat-green,
        /* Override the palette color with our own color */
            (
                600: #f9c314,
            )
    ),
    600 /* Set the overrided hue as default color */
);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
@include configure-colors($app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fab-button-expanded {
    height: 48px;
    border-radius: 48px !important;
}

.fixed-bottom {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.dialog-fullscreen {
    mat-dialog-container {
        border-radius: 0;
        padding: 0;
        mat-dialog-content {
            max-height: none;
            padding: 0;
            margin: 0;
        }
        mat-dialog-actions {
            margin-bottom: 0;
        }
    }
}

.mat-list-single-selected-option {
    @extend .background-primary;
}
